body {
  font-family: Arial;
  background: #e3f2fd;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.form-card {
  background: #0d1b2a;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

input, textarea, select {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  background: orange;
  border: none;
  color: white;
  cursor: pointer;
}

#resultado {
  margin-top: 15px;
  background: #1b263b;
  padding: 10px;
  border-radius: 5px;
}
